@font-face{
    font-family: 'Pokemon';
    src: url('../fonts/pokemon-font.ttf') format('truetype');
}

.pokemon-text{
    font-family: 'Pokemon', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

html{
    background-color: black;
}

.starters{
    color: white;
    font-family: 'Pokemon', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10vh;
}

.div-bulbasaur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vh;
}

#bulba-button{
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
}

#charmander-button{
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
}

#squirtle-button{
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
}

.div-charmander{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 24.4vh;
    
}

.div-squirtle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vh;
}

#bulba-name{
    display: flex;
    justify-content: center;
}

#char-name{
    display: flex;
    justify-content: center;
}

#squi-name{
    display: flex;
    justify-content: center;
}

img{
    width: 320px;
    height: 350px;
}